.form-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    width: 90%;
    margin-inline: auto;
    gap: 30px;
}
.left-form-div{
    background-color: rgb(225, 120, 1);
    border-radius: 10px;
    width: 40%;
    p{
        color: black;
        margin-bottom: 70px;
        font-size: 15px;
    }
    ul{
        list-style: none;
    }
    li{
        margin-top: 40px;
    }
    padding: 20px;
    .icon{
        color: black;
    }
}
.address{
    margin-bottom: 50px;
}
.right-form-div{
    width: 60%;
    
}
.first-form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    .first-name div{
        display: block;
        font-size: 18px;
    }
    .first-name{
        background-color: transparent;
        border: none;
        font-size: 18px;
        color: white;
        padding: 10px;
        border-bottom: 1px solid gray;
        width: 100%;
    }
}
label{
    font-size: 13px;
    color: white;
}
  .last-name div{
        display: block;
        font-size: 18px;
    }
    .last-name{
        background-color: transparent;
        border: none;
        font-size: 18px;
        color: white;
        padding: 10px;
        border-bottom: 1px solid gray;
        width: 100%;
    }
.email div{
        display: block;
        font-size: 18px;
    }
    .email{
        background-color: transparent;
        border: none;
        font-size: 18px;
        color: white;
        padding: 10px;
        border-bottom: 1px solid gray;
        width: 100%;
    }
    .number div{
        display: block;
        font-size: 18px;
    
    }
    
    .number{
        background-color: transparent;
        border: none;
        font-size: 18px;
        color: white;
        padding: 10px;
        border-bottom: 1px solid gray;
        width: 100%;
    }
    .second-form{
        margin-top: 20px;
        p{
            color: white;
            margin-top: 40px;
        }

    }
    .radios-container{
        display: flex;
        gap: 20px;
        margin-top: 20px;
    }
    .textarea-container{
        display: block;
        margin-top: 30px;
        
       
    }
    #messeage{
          background-color: transparent;
        border: none;
        font-size: 18px;
        color: white;
        padding: 10px;
        border-bottom: 1px solid gray;
        width: 100%;
    }
    ::placeholder{
        font-size: 14px;
    }
    #snd-messeage{
        width: 100%;
    }




