.header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 30px;
  max-width: 1000px;
  margin-inline: auto;
  width: 90%;
  align-items: center;
  ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }

  a {
    text-decoration: none;
    color: #ffff;
  }
  :hover.li {
    color: #e7770f;
    transition: 1s;
  }
}
@media screen and (max-width: 480px) {
  .header ul {
    display: none;
  }
  .mobile-nav-links {
    background-color: rgba(255, 255, 255, 0.683);
    position: fixed;
    right: 0px;
    top: 0px;
    width: 50%;
    height: 100vh;
    z-index: 999;
    padding: 20px;
    animation-name: text3;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
   ul{
    list-style: none;
    
  }
  li{
    margin-top: 50px;
  }
  a{
    text-decoration: none;
    color: black;
    font-size: 25px;
  }
  }
 
}
